<template>
  <div class="container">
    <div class="row">
      <h1 class="col-sm-8">Buildit - New Plant Hire Request</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>

    <hr>

    <div>
      <v-form v-model=isFormValid>
        <el-date-picker
          v-model="duration"
          type="datetimerange"
          align="right"
          range-separator="To"
          start-placeholder="Start Date & Time"
          end-placeholder="End Date & Time"
          :picker-options="pickerOptions"
          :default-time="['08:00:00', '17:00:00']">
        </el-date-picker>
        <div class="form-group">
          <label for="siteId">Site ID:</label>
          <v-text-field type="text" id="siteId" :rules="notEmpty" v-model="plantHireRequests.siteId"></v-text-field>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <v-text-field type="number" id="siteId" :rules="notEmpty" v-model="price"></v-text-field>
        </div>
        <div class="form-group">
          <label for="siteEngineerName">Site Engineer Name:</label>
          <v-text-field type="text" id="siteEngineerName" :rules="notEmpty" v-model="plantHireRequests.siteEngineerName"></v-text-field>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <v-btn type="submit" class="btn btn-success" v-on:click="update" :disabled="!isFormValid">Update</v-btn>
          </div>
        </div>
      </v-form>
    </div>
  </div>
</template>

<script>
import auth from '../auth'
import popUp from './popUp'
import axios from 'axios'

export default {
  name: 'ModifyPlantHireRequest',
  data: function () {
    return {
      plantHireRequests: null,
      duration: [],
      siteId: '',
      siteEngineerName: '',
      isFormValid: false,
      price: 0,
      notEmpty: [
        v => v && v.length > 0
      ],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        firstDayOfWeek: 1
      }
    }
  },
  mounted () {
    this.getPlantHireRequest()
  },
  methods: {
    update: function () {
      const headers = {headers: auth.getAuthHeader()}
      const requestBody = {startDate: this.duration[0], endDate: this.duration[1], reference: 'add reference here', siteId: this.plantHireRequests.siteId, siteEngineerName: this.plantHireRequests.siteEngineerName, supplier: 'rentIT', price: this.plantHireRequests.price}
      axios.patch('http://localhost:8080/api/plantHire/requests/' + this.$route.params.id, requestBody, headers)
        .then(response => {
          popUp.showSuccessPopup('Request updated successfully')
          this.$router.push('/')
        })
        // eslint-disable-next-line handle-callback-err
        .catch(error => {
          popUp.showErrorPopup(error.response.data.error.message)
        })
    },
    getPlantHireRequest () {
      axios.get('http://localhost:8080/api/plantHire/requests/' + this.$route.params.id).then(response => {
        this.plantHireRequests = response.data
      })
    }
  }
}

// eslint-disable-next-line
function isFormValid (duration, siteId, siteEngineerName) {
  return !!(isValidDate(duration[0]) && isValidDate(duration[1]) && siteId && siteId.length >= 0 && siteEngineerName && siteEngineerName.length >= 0)
}

function isValidDate (dateString) {
  if (!dateString.match(/^\d{4}-\d{2}-\d{2}$/)) {
    return false
  }
  var d = new Date(dateString)
  var dNum = d.getTime()
  if (!dNum || dNum !== 0) {
    return false
  }
  return d.toISOString().slice(0, 10) === dateString
}

</script>
