<template>
  <div class="container">
    <div class="row">
      <h1 class="col-sm-8">Buildit - New Plant Hire Request</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>

    <hr>

    <div>
      <v-form v-model=isFormValid>

        <div class="form-group">
          <label for="siteId">Rental Time</label>
          <el-date-picker
            v-model="duration"
            type="daterange"
            align="right"
            range-separator="To"
            start-placeholder="Start Date"
            end-placeholder="End Date"
            :picker-options="pickerOptions"
            @change="onSearchChange($event)" />
        </div>

        <div class="form-group">
          <label for="plantNameSearch">Plant Name Search</label>
          <v-text-field type="text" id="plantNameSearch" v-model="searchNameQuery" @change="onSearchChange($event)"></v-text-field>
        </div>

        <div class="form-group">
          <label for="plant">Select Plant for hire</label>
          <select id="plantSelection" class="form-control" @change="onPlantChange($event)">
            <option v-if="this.plantEntries.length > 0" value="" selected disabled>Search Results</option>

            <option v-if="this.plantEntries.length == 0" value="" selected disabled>No Results</option>
            <option v-else v-for="(plantEntry, index) in this.plantEntries" :value="index" :key="plantEntry.id">{{ plantEntry.plantInfo.name  }} ({{ plantEntry.plantInfo.price }} € / day)</option>
          </select>
        </div>

        <hr>

        <div v-if="this.selectedPlantIndex" class="form-group">
          <label for="siteId">Site ID</label>
          <v-text-field type="text" id="siteId" :rules="notEmpty" v-model="siteId"></v-text-field>
        </div>

        <div v-if="this.selectedPlantIndex" class="form-group">
          <label for="siteEngineerName">Site Engineer Name</label>
          <v-text-field type="text" id="siteEngineerName" :rules="notEmpty" v-model="siteEngineerName"></v-text-field>
        </div>

        <div v-if="this.selectedPlantIndex" class="row">
          <div class="col-sm-4">
            <v-btn type="submit" class="btn btn-success" v-on:click="submit" :disabled="!isFormValid">Create</v-btn>
          </div>
        </div>

      </v-form>
    </div>
  </div>
</template>

<script>
import auth from '../auth'
import popUp from './popUp'
import axios from 'axios'

export default {
  name: 'NewPlantHireRequest',
  data: function () {
    return {
      selectedPlantIndex: undefined,
      searchNameQuery: '',
      duration: [],
      siteId: '',
      siteEngineerName: '',
      isFormValid: false,
      plantEntries: [],
      notEmpty: [
        v => v && v.length > 0
      ],
      pickerOptions: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        firstDayOfWeek: 1
      }
    }
  },
  methods: {
    submit: function () {
      if (this.selectedPlantIndex === undefined) {
        return
      }

      var selectedPlantObject = this.plantEntries[this.selectedPlantIndex]

      const headers = {headers: auth.getAuthHeader()}
      const requestBody = {startDate: this.duration[0], endDate: this.duration[1], reference: selectedPlantObject.id, siteId: this.siteId, siteEngineerName: this.siteEngineerName, supplier: 'rentIT', price: selectedPlantObject.plantInfo.price}
      axios.post('http://localhost:8080/api/plantHire/requests', requestBody, headers)
        .then(response => {
          popUp.showSuccessPopup('Request added successfully')
          this.$router.push('/')
        })
        // eslint-disable-next-line handle-callback-err
        .catch(error => {
          popUp.showErrorPopup(error.response.data.error.message)
        })
    },
    onPlantChange (event = undefined) {
      this.selectedPlantIndex = parseInt(document.getElementById('plantSelection').value) + 1
    },
    onSearchChange (event = undefined) {
      if (event !== undefined && this.duration && this.duration.length > 0) {
        this.getPlantEntries()
      } else {
        this.plantEntries = []
        this.selectedPlantIndex = undefined
      }
    },
    getPlantEntries: function () {
      var startDate = this.duration[0].toISOString().slice(0, 10)
      var endDate = this.duration[1].toISOString().slice(0, 10)

      axios.get('http://localhost:8090/api/inventory/items/available' + '?name=' + this.searchNameQuery + '&startDate=' + startDate + '&endDate=' + endDate)
        .then(response => {
          this.plantEntries = response.data

          if (this.plantEntries.length === 0) {
            this.selectedPlantIndex = undefined
          }
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    }
  }
}

// eslint-disable-next-line
function isFormValid (duration, siteId, siteEngineerName) {
  return !!(isValidDate(duration[0]) && isValidDate(duration[1]) && siteId && siteId.length >= 0 && siteEngineerName && siteEngineerName.length >= 0)
}

function isValidDate (dateString) {
  if (!dateString.match(/^\d{4}-\d{2}-\d{2}$/)) {
    return false
  }
  var d = new Date(dateString)
  var dNum = d.getTime()
  if (!dNum || dNum !== 0) {
    return false
  }
  return d.toISOString().slice(0, 10) === dateString
}

</script>
