<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
  <div>
    <div class="row">
      <h1 class="col-sm-8">Buildit - Purchase Orders</h1>
      <div class="col-sm-4" style="text-align:right;">
        <router-link to="/">Back Home</router-link>
      </div>
    </div>
    <div v-if="purchaseOrders.length == 0" style="">
      <i>You don't have any purchase orders yet!</i>
    </div>
    <template v-if="purchaseOrders.length > 0">
      <div class="row">
        <h3>Purchase orders</h3>
      </div>
      <table class="table">
        <tr>
          <th>Id</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Plant ID</th>
          <th>Status</th>
          <th></th>
        </tr>
        <tr v-for="(purchaseOrder, index) in purchaseOrders" :key="index">
          <td>{{ purchaseOrder._id }}</td>
          <td>{{ purchaseOrder.rentalPeriod.startDate }}</td>
          <td>{{ purchaseOrder.rentalPeriod.endDate }}</td>
          <td>{{ purchaseOrder.plantId }}</td>
          <td>{{ purchaseOrder.status }}</td>
          <td>
            <v-btn v-if="purchaseOrder.status === 'PENDING'" class="btn btn-danger" v-on:click="rejectPO(purchaseOrder._id, index)">Reject</v-btn>
            <v-btn v-if="purchaseOrder.status === 'PLANT_DISPATCHED'" class="btn btn-danger" v-on:click="rejectPO2(purchaseOrder._id, index)">Reject</v-btn>
            <v-btn v-if="purchaseOrder.status === 'PENDING'" class="btn btn-danger" v-on:click="acceptPO(purchaseOrder._id, index)">Accept</v-btn>
            <v-btn v-if="purchaseOrder.status === 'ACCEPTED' || purchaseOrder.status === 'PENDING'" class="btn btn-danger" v-on:click="cancelPO(purchaseOrder._id, index)">Cancel</v-btn>
            <v-btn v-if="purchaseOrder.status === 'PLANT_DISPATCHED'" class="btn btn-danger" v-on:click="extendPO(purchaseOrder._id, index)">Extend</v-btn>
          </td>
        </tr>
      </table>
    </template>
    <el-date-picker v-model="newEndTime"
      type="date"
      placeholder="Pick a day"
      :picker-options="pickerOptions1">
    </el-date-picker>
  </div>
</template>

<script>

// eslint-disable-next-line
import axios from 'axios'
import auth from '../auth'
import popUp from './popUp'

export default {
  name: 'PurchaseOrders',
  data () {
    return {
      timer: '',
      newEndTime: undefined,
      purchaseOrders: [],
      isAdmin: false,
      pickerOptions1: {
        disabledDate (time) {
          return time.getTime() < Date.now() - 8.64e7
        },
        firstDayOfWeek: 1,
        shortcuts: [
          {
            text: 'Tomorrow',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          },
          {
            text: 'In one week',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() + 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }]
      }
    }
  },
  mounted () {
    this.getPurchaseOrders()
    this.isAdmin = auth.isAdmin()
  },
  methods: {
    getPurchaseOrders () {
      axios.get('http://localhost:8090/api/sales/orders').then(response => {
        if (response.data._embedded) {
          this.purchaseOrders = []
          response.data._embedded.purchaseOrderDToes.forEach((value) => {
            this.purchaseOrders.push(value)
          })
        }
      }).catch(error => {
        popUp.showErrorPopup(error.response.data.error)
      })
    },
    acceptPO (id, index) {
      axios
        .post('http://localhost:8080/api/plantHire/order/' + id + '/accept', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order accepted')
          } else {
            popUp.showErrorPopup('Purchase order not accepted')
          }
          this.getPurchaseOrders()
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    rejectPO (id, index) {
      axios
        .post('http://localhost:8080/api/plantHire/order/' + id + '/reject', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order rejected')
          } else {
            popUp.showErrorPopup('Purchase order not rejected')
          }
          this.getPurchaseOrders()
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    rejectPO2 (id, index) {
      axios
        .post('http://localhost:8080/api/plantHire/order/' + id + '/reject-by-customer', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order rejected')
          } else {
            popUp.showErrorPopup('Purchase order not rejected')
          }
          this.getPurchaseOrders()
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    cancelPO (id, index) {
      axios
        .post('http://localhost:8080/api/plantHire/order/' + id + '/cancel', {}, { headers: auth.getAuthHeader() })
        .then(response => {
          if (response.status === 200) {
            popUp.showSuccessPopup('Purchase order cancelled')
          } else {
            popUp.showErrorPopup('Purchase order not cancelled')
          }
          this.getPurchaseOrders()
        }).catch(error => {
          if (error !== undefined && error.response && error.response.data && error.response.data.error) {
            popUp.showErrorPopup(error.response.data.error)
          } else {
            popUp.showErrorPopup('Something went wrong')
          }
        })
    },
    extendPO (plantHireRequestID, index) {
      if (this.newEndTime) {
        axios
          .patch('http://localhost:8080/api/plantHire/order/' + plantHireRequestID + '/extend' + '?to=' + this.newEndTime.toISOString().slice(0, 10), {}, { headers: auth.getAuthHeader() })
          .then(response => {
            if (response.status === 200) {
              if (response.data === true) {
                popUp.showSuccessPopup('Extended')
              } else {
                popUp.showErrorPopup('Extension rejected')
              }
            } else {
              popUp.showErrorPopup('Something went wrong')
            }
            this.getPurchaseOrders()
          }).catch(error => {
            popUp.showErrorPopup(error.response.data.error)
          })
      } else {
        popUp.showInfoPopup('Select a date from the bottom of the page first')
      }
    }
  }
}
</script>

<style>
</style>
