<template>
  <div class="home container app">

    <!-- Header -->
    <div class="row">
      <h1 class="col-sm-8">Rentit</h1>
      <div class="col-sm-4">
        <router-link style="margin-right:8px;" to="/new-purchase-order" class="btn btn-success">Create new purchase order</router-link>
      </div>
    </div>

    <hr>

    <purchaseOrders></purchaseOrders>
    <plants></plants>

  </div>
</template>

<script>

import NewMaintenanceTask from './NewMaintenanceTask'
import NewPurchaseOrder from './NewPurchaseOrder'
import Plants from './Plants'
import PurchaseOrder from './PurchaseOrder'
import PurchaseOrders from './PurchaseOrders'

export default {
  name: 'Home',
  components: { NewMaintenanceTask, NewPurchaseOrder, Plants, PurchaseOrder, PurchaseOrders },
  data () {
    return {
      isAuthenticated: false
    }
  }
}

</script>

<style>
</style>
